.container-slider {
    /* width: 300vw;
    transition: transform 0.5s; */
    /* width: 300vw; */
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
}

.slide {
    /* width: 100vw; */
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

.img {
}

.left-arrow {
    position: absolute;   
    top: 50%;
    /* left: 32px; */
    font-size: 3rem;
    user-select: none;
    z-index: 1;
    opacity: 0.8; 
    
}

.right-arrow {
    position: absolute;   
    top: 50%;
    right: 10px;
    font-size: 3rem;
    user-select: none;
    z-index: 1;
    opacity: 0.8;
}
