.container {
    flex: auto;
}

.tbody > tr > th {
    /* margin-right: 100px; */
}

a > div > p {
    color: black;
}

.cart-info {
    width: 960px;
    float: left;
}
table {
    width: 960px;
    border-top: 1.5px solid;
    border-bottom: 1px solid;
}

.table-name {
    font-size: 23px;
    float: left;
}

.shipping-info > tbody > tr {
    height: 68px;
}

.shipping-info > tbody > tr > th {
    width: 230px;
    font-weight: 100;
    font-size: 14px;
}

.shipping-info > tbody > tr > td {
    width: 730px;
}

.order-info > thead {
    height: 68px;
}

.order-info > tbody > tr > td {
    padding: 20px;
}
.order-info > tbody > tr > td > a > img {
    display: block;    
    float: left;
    margin-right: 20px;
}

.order-info > tbody > tr > td > a > div {
    text-align: left;
}

.point-info > tbody > tr {
    height: 68px;
}

.point-info > tbody > tr > th {
    width: 230px;
    font-weight: 100;
    font-size: 14px;
}


input {
    height: 40px;
    background-color: #f2f2f2;
    
}

.payment-info {
    /* margin-left: 980px; */
    position: sticky;
    left: 130px;
    /* top: 138px; */
    /* float: right; */
}