.App {
  text-align: center;
  font-family: 'NaBaRegular';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
* Font
***/

@font-face {
  font-family: "BebasNeue";
  src: url('./fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: "DancingScript";
  src: url('./fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
  font-family: "EBGaramond";
  src: url('./fonts/EBGaramond-VariableFont_wght.ttf');
}

@font-face {
  font-family: "NaBaRegular";
  src: url('./fonts/NanumBarunGothic.otf');
}

@font-face {
  font-family: "NaBaBold";
  src: url('./fonts/NanumBarunGothicBold.otf');
}

@font-face {
  font-family: "NaBaLight";
  src: url('./fonts/NanumBarunGothicLight.otf');
}

@font-face {
  font-family: "NaBaUltraLight";
  src: url('./fonts/NanumBarunGothicUltraLight.otf');
}

@font-face {
  font-family: "Praise";
  src: url('./fonts/Praise-Regular.ttf');
}

@font-face {
  font-family: "Shizuru";
  src: url('./fonts/Shizuru-Regular.ttf');
}
